.itemslist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .product-item {
 
    padding: 11px;
    text-align: center;
  }

  .product-item:hover{
    background-color: rgb(199, 198, 198);
    transform: scale(1.05);
 
  }