.example-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.div-btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 48%;
}
